<h2 class="page-header">Search Authors</h2>

<!-- Search Form -->
<form action="/authors" method="GET">
    <div class="form-row">
        <!-- Search: Name Input -->
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div> <!-- //search: name input -->
    </div>
    <!-- Search Button -->
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">SEARCH</button>
    </div> <!-- //search button -->
</form> <!-- //search form -->
<br>

<!-- Result -->
<% authors.forEach(author => { %>
    <div class="author-row">
        <div class="author-name"><%= author.name %></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/authors/<%= author.id %>">VIEW</a>
            <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">EDIT</a>
            <%- include('../partials/deleteForm', { url: `/authors/${author.id}`}) %>
        </div>
    </div>
<% }) %> 